.letter-input {
  display: inline-block;
  margin: 0.1rem;
  width: 3rem;
  position: relative;
  &.present {
    input {
      background-color: rgb(201, 180, 88);
      color: #fff;
    }
  }
  &.correct {
    input {
      background-color: rgb(106, 170, 100);
      color: #fff;
    }
  }
  input {
    border: 2px solid var(--color-tertiary);
    background: none;
    color: var(--color-primary);
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    outline: none;
  }
}
