.colour-toggle {
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  height: 50%;
  transition: 0.2s ease;
  cursor: pointer;
  background: none;
  border: 1px solid var(--color-tertiary);
  border: 0;
  padding: 0.75rem;
  display: block;
  transition: 0.2s ease;
  z-index: 1;
  &.present {
    background-color: rgb(201, 180, 88);
  }
  &.correct {
    background-color: rgb(106, 170, 100);
    right: 0;
    left: auto;
  }
}
