.frequent-letters {
  span {
    border: 2px solid var(--color-tertiary);
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 0 0.125rem;
    width: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 0.5rem;
  }
}
