@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  border: 0;
  padding: 0;
}

section,
main {
  margin-top: 2rem;
}

section.is-tight {
  margin-top: 0;
}

section > h2 {
  margin-top: 0;
}

.App {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 60em;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main > aside {
  margin:0 auto;
}

@media (min-width: 600px) {
  main > form {
    flex: 2;
  }

  main > aside {
    flex: 1;
  }
}
