@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --color-primary: #fff;
  --color-secondary: #282c34;
  --color-tertiary: #5a5a5a;
}

[data-theme='light'] {
  --color-primary: #333;
  --color-secondary: #fff;
  --color-tertiary: #ccc;
}

body {
  background-color: var(--color-secondary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  border: 0;
  padding: 0;
}

section.is-tight {
  margin-top: 0;
}

section > h2 {
  margin-top: 0;
}

.App {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 60em;
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  margin: 0 auto;
}

section {
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .board {
    flex: 2;
  }

  aside {
    flex: 1;
  }
}
